.logo-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  opacity: 0.85;
  z-index: 20;
  transition: 0.3s;
  border-radius: 10px;
}

.logo-fixed:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(76, 212, 255, 0.6);
}

